		/* ЭТО ФАЙЛ СТИЛЕЙ */
		body
		{
			background-color: rgb(34, 33, 28);
		}

		table
		{
			height: 45px;
			width: 100%;
			background-color: rgb(255, 244, 216);
			color: white;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
		tbody
		{
			width: 100%;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
		tr
		{
			width: 100%;
			margin: 0 0 0 0;
			padding: 0 0 0 0;
		}
		td
		{
			width: 17%;
			text-align: center;
		}
		td:hover
		{
			background-color: #f7f080;
		}
		h1
		{
			color: blue;
		}
		h2
		{
			color: lightblue;
		}
		p, a
		{
			color: white;
			font-size: 18px;
			font-family: Cambria;
			text-align: left;
		}
		a
		{
			font-weight: bold;
			text-decoration: none;
		}
		a.header
		{
			color: #469422; 
			text-decoration: none;
			font-size: 18px;
			font-family: Georgia;
			font-stretch: expanded;
			font-weight: bold;

		}
		a:hover
		{
			color: green; 
			text-decoration: underline;
		}
		a:active
		{
			color:green;
			background-color: #c2fec2;
		}

		img.header
		{
			position: relative;
			z-index: 2;
			height: 35px;
			padding-left: 50px;
		}
		button
		{
			z-index: 3;
			background-color: rgb(255, 244, 216); 
			color:green; 
			width: 340px;
			height: 60px;
			border-radius: 8px;
			border: outset 3px;
			position: absolute;
			left: 940px;
			top: 480px;
			font-size: 28px;
			font-family: Georgia;
		}
		button:hover
		{
			background-color: #f7f080;
		}
		div.content
		{
			background-color: rgb(45, 42, 36);
			width: 80%;
			margin: 0 0 0 10%;
			padding: 0 0 0 0;
		}
		div.info
		{
			background-color: rgb(49, 46, 40);
			width: 30%;
			margin: 15px 1% 15px 1%;
			padding: 0 5px 0 5px;
			display: inline-block;
			text-align: center;
			vertical-align: top;
		}
		footer
		{
			margin: 0 10% 0 10%;
		}